<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    </configSections>
    <connectionStrings>
        <add name="FRAttendanceSystem.Properties.Settings.FRAttendanceConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\FRAttendance.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="timeInUrl" value=""/>
    <add key="timeInUser" value=""/>
    <add key="timeInPass" value=""/>
    <add key="timeOutUrl" value=""/>
    <add key="timeOutUser" value=""/>
    <add key="timeOutPass" value=""/>
    <add key="captureUrl" value=""/>
    <add key="captureUser" value=""/>
    <add key="capturePass" value=""/>
  </appSettings>
</configuration>